<section class="new-form">
  <header>
    <h3>Add New Experience</h3>

    <%= form_for([@user, @experience]) do |f| %>
      <%= f.label :company_name %>
      <%= f.text_field :company_name %>

      <%= f.label :company_city %>
      <%= f.text_field :company_city %>

      <%= f.label :company_state %>
      <%= f.select :company_state do %>
        <% Experience.us_states.each do |state| %>
          <%= content_tag :option, state.last %>
        <% end %>
      <% end %>

      <%= f.label :start_date, 'Start date' %>
      <%= f.date_select :start_date,
        default: Date.today,
        order: [:day, :month, :year]
      %>

      <%= f.label :current %>
      <%= f.check_box :current, checked: true %>

      <div id="end-date-container" class="hidden">
        <%= f.label :end_date, 'End date' %>
        <%= f.date_select :end_date,
          order: [:day, :month, :year]
        %>
      </div>

      <%= f.label :title %>
      <%= f.text_field :title %>
    <% end %>
  </header>
</section>
